@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

body,
textarea {
    font-family: 'Comfortaa', cursive;
}

body {
    padding: 0;
    margin: 0;
}

a:link,
a:hover,
a:active {
    color: black;
}
a:visited {
    color: white
}

img {
    max-width: 100%;
}

section {
    height: 100vh;
}

main {
    display: grid;
}

/* ***************************** */
/* nav styles */
nav {
    padding: 8px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
nav a:link,
nav a:visited,
nav a:active {
    color: #000;
    text-decoration: none;
}
nav a:hover {
    color: grey;
    text-decoration: underline;
    font-weight: bold;
} 
#nav-left img {
    width: 30px;
    padding-left: 20px;
}
#nav-right {
    text-align: right;
}


@media (min-width: 320px) and (max-width: 768px) {
    nav {
        padding: 0;
        position: fixed;
      }
      nav ul {
        flex-direction: column;
      }
      nav li {
        text-align: center;
        padding: 10px;
        border: 1px #fff;
        display: block;
      }
}

/* ***************************** */
/* header styles */
header {
    padding: 50px;
    background-color: #fff;
    display: block;
}
h1 {
    color: #000;
    background-color: #fff;
    padding: 15px 0 0 30px;
    text-align: left;
    margin: 10px 0 0 30px;
    font-size: 400%;
}
h1 span {
    color: #000;
    font-family:'Comfortaa', cursive;
    font-size: 400%;
    padding: 10px 0 0 20px;
}
header h2 {
    text-align: left;
    font-size: 200%;
    padding-left: 70px;
}
header img {
    float: right;
    border-radius: 30px;
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
    header {
        padding: 10px;
        background-color: #fff;
    }
    h1 {
        color: #000;
        background-color: #fff;
        padding: 15px 0 0 30px;
        text-align: left;
        font-size: 300%;
    }
    h1 span {
        color: #000;
        font-family:'Comfortaa', cursive;
        font-size: 200%;
        padding: 10px 0 0 20px;
        display: inline;
        overflow: visible;
    }
    header h2 {
        text-align: left;
        font-size: 150%;
        padding-left: 70px;
    }
    header img {
        float: left;
        border-radius: 30px;
        width: 90px;
    }
}

/* ***************************** */
/* Work styles */
#work-head {
    text-align: center;
    font-size: 50px;
    font-weight: 1000px;
    text-decoration: underline;
}
#work1, #work2, #work3 {
    margin: 100px;
    padding: 0;
    justify-content: space-between;
}
#work-content1,
#work-content2,
#work-content3 {
    text-align: center;
}

#work-image1,
#work-image2,
#work-image3 {
    text-align: center;
}

#work-image1 img,
#work-image2 img,
#work-image3 img {
    border-radius: 20px;
    width: max-content;
}

#button1, #button2, #button3,
#about-profile #button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}


@media (min-width: 320px) and (max-width: 768px) {
    
    #work1, #work2, #work3 {
        margin: 10px;
        padding: 30px;
        justify-content: space-between;
        display: block;
    }
    #work-content1,
    #work-content2,
    #work-content3 {
        text-align: center;
        display: block;
    }
    #work-image1,
    #work-image2,
    #work-image3 {
        align-items: center;
        display: block;
        margin: 20px;
    }
    #work-image1 img,
    #work-image2 img,
    #work-image3 img {
        border-radius: 20px;
    }
    
    #button1, #button2, #button3,
    #about-profile #button {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        color: #fff;
        background-color: #000;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

/* ***************************** */
/* about styles */

#about {
    margin: 100px;
    padding: 0;
    color: #000;
}
#about-head {
    text-align: center;
    font-size: 50px;
    font-weight: 1000px;
    text-decoration: underline;
}
#about-profile {
    text-align: center;
}
#about-image {
    align-items: center;
}
#about-image img {
    border-radius: 30px;
}
#about a:link,
#about a:hover,
#about a:active {
    color: black;
}
#about a:visited {
    color: black
}
#about #button a:link,
#about #button a:hover,
#about #button a:active {
    color: white;
}
#about #button a:visited {
    color: white;
}

@media (min-width: 320px) and (max-width: 768px) {
    
    #about {
        margin: 10px;
        padding: 30px;
        justify-content: space-between;
        display: block;
    }
    #about-head {
        text-align: center;
        font-size: 50px;
        font-weight: 1000px;
        text-decoration: underline;
    }
    #about-profile {
        text-align: center;
    }
    #about-image {
        align-items: center;
    }
    #about-image img {
        border-radius: 30px;
        width: max-content;
    }
}


/* ***************************** */
/* Contact */
#contact-head {
    text-align: center;
    font-size: 50px;
    font-weight: 1000px;
    text-decoration: underline;
}
#contact-content img {
    width: 50px;
}
#logo {
    padding-top: 20px;
}
#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}
input {
    font-family: 'Comfortaa', cursive;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #000;
    border: solid 1px gray;
    border-bottom: none;
}
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 0.875em;
    font-family: 'Comfortaa', cursive;
    border: solid 1px gray;
}
#submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-size: 0.875em;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    outline:none;
    cursor: pointer;
    border: solid 1px gray;
    background-color: #000;
    border-top: none;
  }

@media (min-width: 320px) and (max-width: 768px) {
    
    #contact-content p {
        font-size: smaller;
    }
    #contact-content img {
        width: 50px;
    }
    #logo {
        padding-top: 20px;
    }
    form {
        padding: 0;
        align-items: center;
        margin: 0;
        width: fit-content;
    }
    input {
        font-family: 'Comfortaa', cursive;
        font-size: 0.875em;
        width: 400px;
        height: 50px;
        padding: 0px 15px 0px 15px;
        background: transparent;
        outline: none;
        color: #000;
        border: solid 1px gray;
        border-bottom: none;
    }
    textarea {
        width: 400px;
        max-width: 400px;
        height: 110px;
        max-height: 110px;
        padding: 15px;
        background: transparent;
        outline: none;
        color: #000;
        font-size: 0.875em;
        font-family: 'Comfortaa', cursive;
        border: solid 1px gray;
    }
    #submit {
        width: 432px;
        padding: 0;
        margin: -5px 0px 0px 0px;
        font-size: 0.875em;
        font-family: 'Comfortaa', cursive;
        color: #fff;
        outline:none;
        cursor: pointer;
        border: solid 1px gray;
        background-color: #000;
        border-top: none;
      }
}

/* ***************************** */
/* Footer */
footer {
    text-align: center;
    padding: 20px 0 20px 0;
    color: grey;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {
    footer {
    align-items: center;
    padding: 20px 0 20px 0;
    color: grey;
    }
}
/* ********************* */
/* Grid Elements */

.split {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.split-left {
    flex: 50%;
    box-sizing: border-box;
}

.split-right {
    flex: 50%;
    box-sizing: border-box;
}
.full {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.full-content {
    flex: 100%;
    box-sizing: border-box;
    text-align: center;
}