@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0;
}

body,
textarea {
    font-family: 'Roboto', sans-serif;
}

.mainNavItem:link,
.mainNavItem:hover,
.mainNavItem:active,
.mainNavItem:visited {
    color: green;
    text-decoration: none;
}

.btn {
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid green;
    background-color: green;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.btn:visited,
.btn:link,
.btn:active {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #1e4620;
    color: white;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .btn {
        text-decoration: none;
        border-radius: 20px;
        border: 1px solid green;
        background-color: green;
        color: #FFFFFF !important;
        font-size: 9px;
        font-weight: bold;
        padding: 5px 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }
}


/* ************************* */
/* Header section */

header {
    margin-bottom: 20px;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}

.mainNav {
    padding: 10px;
}
.mainNav img {
    width: 50px;
}

.mainNavIcon {
    display: none;
}

.mainNavList-right {
    list-style: none;
    display: flex; 
    justify-content: right;
    flex-wrap: wrap;
    float: left;
}
.mainNavList-right {
    float: right;
}

.mainNavList-left {
    float: left;
}

.mainNavItem {
    padding: 10px;
    margin-left: 10px;
}

figure {
    position: relative;
}
figure img {
    width: 100%;
    height: auto;
    opacity: 50%;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-size: 50px;
    color: green;
}

@media screen and (min-width: 300px) and (max-width: 768px){
    .mainNav {
        height: 20px;
        position: fixed;
        z-index: 10;
        font-size: small;
    }
    .mainNavList-left img {
        width: 35px;
    }
    .mainNavList-right {
        display: flex;
    }

    figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-align: center;
        font-size: 12px;
        color: green;
    }

}

/* ************************* */
/* Services section */

.services {
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.services h3 {
    padding: 15px;
    color: green;
}
.services p {
    padding-bottom: 20px;
}
.services i {
    font-size: 40px;
    color: green;
    padding-bottom: 20px;
}

.main-h2 {
    text-align: center;
    padding: 30px;
    color: #1e4620;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .services {
        text-align: center;
        align-items: center;
        display: block;
        padding: 10px;
        margin-right: 50px;
        /* margin-bottom: 30px; */
    }

}

/* ************************* */
/* Login section */
.login {
    padding: 50px;
    text-align: center;
}

.login-form {
    background-color: #f0f4ec;
    padding: 50px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.login-form h1 {
    padding-bottom: 20px;
}

.login-form p {
    padding-top: 20px;
}

input {
	background-color: #FFFFFF;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 20px;
}

#submit {
    padding-top: 20px;
}

.forgot {
    font-size: 15px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .login {
        padding: 40px;
        text-align: center;
    }
    
    .login-form {
        background-color: #f0f4ec;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        text-align: center;
    }
    
    .login-form h1 {
        padding-bottom: 20px;
        font-size: 25px;
    }
    
    .login-form p {
        padding-top: 20px;
        font-size: 12px;
    }
    .title {
        font-size: 8px;
        align-items: center;
        text-align: center;
    }

    input {
        background-color: #FFFFFF;
        border: none;
        padding: 12px 15px;
        margin: 6px 0;
        width: 80%;
        border-radius: 20px;
        align-items: center;
    }
    
    #submit {
        padding-top: 20px;
    }
    
    .forgot {
        font-size: 12px;
    }
}

/* ************************* */
/* Search Bar*/
.search {
    text-align: left;
    background-color: #f0f4ec;
    padding: 50px 50px 50px 50px;
}
.search h4 {
    color: #1e4620;
}
.search input {
    background-color: #FFFFFF;
	border: 1px solid green;
	padding: 12px 15px;
	margin: 8px 0;
	width: 30%;
    border-radius: 5px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .search input {
        background-color: #FFFFFF;
        border: 1px solid green;
        padding: 9px 50px;
        margin: 8px 0;
        width: 30%;
        border-radius: 5px;
    }
}

/* ************************* */
/* Product section */

.product-head h1 {
    font-size: 50px;
}
.product-head p {
    font-size: 20px;
}
.conditions {
    color: black;
    font-size: smaller;
    padding-top: 10px;
}

#main-products {
    text-align: center;
    color: #1e4620;
    padding-top: 50px;
    background-color: #f0f4ec;
}

#products {
    text-align: center;
    display: flex;
    padding: 50px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    background-color: #f0f4ec;
    width: auto;
}
.products1 {
    padding: 50px;
}
#flex-product {
    display: flex;
    flex-direction: row;
}

.products i {
    font-size: 40px;
    color: green;
    padding-bottom: 20px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

    #pageHeading img {
        width: 100%;
    }
    .product-head h1 {
        font-size: 15px;
        padding-top: 50px;
        margin: auto;
    }
    .product-head p {
        font-size: 12px;
    }
    .conditions {
        color: black;
        font-size: smaller;
        padding-top: 7px;
    }

    #main-products {
        text-align: center;
        color: #1e4620;
        display: block;
        font-size: 13px;
        padding-bottom: 10px;
        background-color: #f0f4ec;
    }

    #products {
        text-align: center;
        display: flex;
        padding-bottom: 20px;
        margin: auto;
        align-items: center;
        background-color: #f0f4ec;
        width: auto;
    }
    .products1 {
        padding: 20px;
    }
    #flex-product {
        display: flex;
        flex-direction: column;
    }

    .products i {
        font-size: 30px;
        color: green;
        padding-bottom: 10px;
    }

}

/* ************************* */
/* Plans section */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
#plans h3 {
    text-align: center;
    color: #1e4620;
    padding-top: 30px;
    font-size: 25px;
}
#plans-table h4 {
    color: green;
    text-align: center;
}
#plans-table {
    align-items: center;
    margin: auto;
}
#plans-table span {
    font-weight: 600;
}
.plans1, .plans2, .plans3 {
    padding: 50px;
    text-align: center;
}

.plans1 h4, .plans1 td {
    padding: 20px;
    align-items: center;
}


@media screen and (min-width: 300px) and (max-width: 768px) {
    table {
        overflow-x: auto;
        table-layout: fixed;
        width: 100%;
    }
    td {
        text-align: center;
        word-wrap: break-word;
    }
    #plans h3 {
        text-align: center;
        color: #1e4620;
        padding-top: 30px;
        font-size: 20px;
    }
    #plans-table {
        padding-top: 20px;
    }
    #plans-table span {
        font-weight: 600;
    }
    .plans1 {
        padding: 8px;
        text-align: center;
    }
    .plans1 span {
        font-size: 18px;
    }
    .plans1 h4 {
        font-size: 20px;
    }
}

/* ************************* */
/* Footer section */

footer {
    text-align: center;
    color:dimgray;
    padding: 10px;
}